

.fa-icon {
    float: right;
    margin-right: 10px;
    display: none;
}

.list-heading {
    margin-left: 10px;
}

.right-add-sec {
    text-align: end;
    padding-right: 40px;
}

.link-add {
    color: white;
    text-decoration: none;
}

.link-add:hover {
    color: white;
}

.list-item:hover {
    background-color: aliceblue;
}

.list-item:hover .fa-icon {
    display: block;
    cursor: pointer;
}